UPDATE Employees SET DateOfBirth = '1991-01-01', HireDate = '2016-01-01' WHERE EmployeeId BETWEEN 10 AND 19;
UPDATE Contracts SET Salary = 25000000 WHERE EmployeeId BETWEEN 10 AND 19;
UPDATE Payrolls SET AbsentDays = 1, LateDays = 1, ActualWorkDays = StandardWorkDays - 1 WHERE EmployeeId BETWEEN 10 AND 19;
UPDATE Employees SET DateOfBirth = '1998-01-01', HireDate = '2022-01-01' WHERE EmployeeId BETWEEN 20 AND 24;
UPDATE Contracts SET Salary = 15000000 WHERE EmployeeId BETWEEN 20 AND 24;
UPDATE Payrolls SET AbsentDays = 2, LateDays = 3, ActualWorkDays = StandardWorkDays - 2 WHERE EmployeeId BETWEEN 20 AND 24;
UPDATE Employees SET DateOfBirth = '1974-01-01', HireDate = '2010-01-01' WHERE EmployeeId > 24 OR (EmployeeId BETWEEN 6 AND 9);
UPDATE Contracts SET Salary = 50000000 WHERE EmployeeId > 24 OR (EmployeeId BETWEEN 6 AND 9);
UPDATE Payrolls SET AbsentDays = 0, LateDays = 0, ActualWorkDays = StandardWorkDays WHERE EmployeeId > 24 OR (EmployeeId BETWEEN 6 AND 9);
